<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LINEABLANCA.com</title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <div class="menu logo-nav">
      <a href="/index" class="logo">LINEA BLANCA</a>
      <label class="menu-icon"><span class="fas fa-bars icomin"></span></label>
      <nav class="navigation">
        <ul>
          
        </ul>
      </nav>
    </div>
  </header>

<main>
<div class="container">
    <div class="columna1">
      <h2>Nosotros</h2>
      <p>
        <p>En Linea Blanca, equipando tu hogar con la mejor tecnología para hacer la vida más fáci."
        </p><br>
        <p> En nuestra tienda de línea blanca, encontrarás todo lo que necesitas para transformar tu hogar en un espacio moderno y eficiente. Desde lavadoras y refrigeradoras hasta estufas y hornos, cada producto está diseñado para brindarte comodidad, durabilidad y estilo. </p><br>
        <p> Descubre cómo la tecnología puede hacer tu vida más sencilla, ¡bienvenido al futuro del hogar!</p><br>
      </p>
    </div>
    <div class="columna2">
      <img src="https://comercializadoraomicron.com/wp-content/uploads/2020/11/Combo1..png.webp">
    </div>
</div>
</main>

<footer class="footer-section">
  <div class="copyright-area">
      <div class="container-footer">
          <div class="row-footer">
              <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                  <div class="copyright-text">
                      <p>Copyright &copy; 2023, todos los derechos reservados <a href="/index">LINEA BLANCA</a></p>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                  <div class="footer-menu">
                      <ul>
                        <li><a href="/login">Administrar</a></li>
                        <li><a href="/listado">Productos</a></li>
                       
                        <li><a href="/client">Registrarse</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer> 


  
</body>
</html>